*{
    margin: 0;
    padding: 0;
}

.active{
    background-color: blue;
}

.nav{
    background-color: #1d5173;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 80px;
    position: sticky;
    top: 0;
}

.logo{
    margin-right: auto;
    color: #fff;
}
.ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.ul li{
    display: block;
    padding: 0 15px;
}

.ul li a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    /* border-radius: 5px; */
}
.ul li a:hover{
    color: #ca840a;
}

nav .menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.25rem;
    height: 2rem;
}
.fa{
    color: white;
    height: 0.4rem;
    width: 100%;
    border-radius: 0.2rem;
}

@media (max-width:480px){
    nav .menu{
        display: flex;
    }

    nav{
        flex-direction: column;
        align-items: start;
    }
}