
/* *{
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
} */

.background{
    background-color: white;
}
.cardContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
    width: 100%;
    
}
.title{
    margin-left: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #534f4f;
    font-size: 40px;
    line-height: 50px;
}


.home{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.welcome-text{
    color: white;
    font-weight: bold;
}
.h1{
    margin-bottom: 15px;
}
.h3{
    margin-left: 50px;
}

 